.app {
  display: flex;
  flex-direction: column;
  gap: 1em;
  .app__body {
    padding: 1em 3em;
  }
  .app__hero {
    width: 100%;
    height: 15vh;
    /*  background-color: red;
*/
    display: flex;
    justify-content: center;

    .hero__image {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }
}

.form {
  display: flex; /* Hace que los elementos se coloquen en línea */
  align-items: center; /* Centra verticalmente los elementos */
  justify-content: center;

  margin-bottom: 1.5em;
  text-align: center;
  .form__input {
    padding: 0.5em 0.2em;
    border-radius: 0.5em 0 0 0.5em;
    width: 15em;
  }
  .form__div {
    background-color: #fff;
    padding: 0.39em;
  }
  .form__button {
    margin-right: 0.5em;
    display: flex; /* Asegura alineación interna */
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    width: 17px; /* Ampliar un poco el botón para mejor ajuste */
    height: 17px;
    border-radius: 50%;
    background-color: rgba(4, 169, 4, 0.5); /* Color verde con transparencia */
    border: none;
    cursor: pointer;
    padding: 0;
    &:hover {
      scale: 1.2;
      background-color: rgba(4, 169, 4, 1);
    }
    .button__icon {
      font-size: 8px; /* Ajusta el tamaño de la "X" */
      font-weight: bold;
      color: #fff; /* Mantiene el color visible */
      display: flex; /* Asegura alineación */
      align-items: center;
      justify-content: center;
    }
  }

  .form__btn {
    padding: 0.5em 0.8em;
    background-color: #04a904;
    color: #fff;
    border-radius: 0 0.5em 0.5em 1;

    transition: background-color 0.5s ease;
    &:hover {
      background-color: var(--secondary-color);
    }
  }
}

.cards__container {
  gap: 2em;
  padding-bottom: 3em;
  flex-wrap: wrap;
}
